<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div class="header">
            <img class="logo" src="{{ url_for('static', filename='logo_resized.png') }}">
            <nav>
                <ul>
                    {% for item in items %}
                        <li><a href="{{ url_for(item['func']) }}">{{ item['text'] }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>