<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav>
            <img src="{{ url_for('static', filename='logo.png') }}">
            <ul>
                {% for item in menu %}
                    <li><a href="{{ url_for(item['func']) }}">{{ item['text'] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>