* {
    padding: 0;
    margin: 0;
    color: #5e5e5e;
    font-size: 32pt;
}

body {
    width: 960pt;
    margin: 0 auto;
}

div.header {
    display: flex;
    justify-content: flex-end;
    height: 60pt;
    background-color: #47bdbd;
    margin: 0;
    padding: 0;
}

div.header >:first-child {
    margin-right: auto;
}

img.logo {
    height: 60pt;
    width: 180pt;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #3b9e9e;
    margin-top: 0;
    padding-top: 5pt;
    height: 55pt;
}

nav li {
    width: 180pt;
    text-align: center;
}

nav a {
    display: block;
    height: 60pt;
    font-size: 32pt;
    color: white;
    text-decoration: none;
}

section.content {
    display: block;
    background-color: #d3ffff;
    padding-bottom: 60pt;
}

h1 {
    display: block;
    margin: 0 auto;
    padding: 60pt 0;
    text-align: center;
}

form div.q {
    display: flex;
    justify-content: center;
    height: 45pt;
    margin-bottom: 45pt;
}

form div.q label {
    width: 180pt;
}

form div.q input {
    height: 45pt;
    width: 300pt;
}

input.submit, a.redirect_button{
    display: block;
    background-color: #47bdbd;
    height: 45pt;
    width: 480pt;
    color: white;
    margin: 0 auto;
    margin-bottom: 45pt;
    border: none;
    text-decoration: none;
    text-align: center;
}

table.todos {
    display: block;
    width: 480pt;
    margin: 0 auto;
    padding-bottom: 60pt;
    border-collapse: collapse;
}

table.todos tr {
    border-bottom: 2pt #5e5e5e solid;
    height: 80pt;
}

.fa {
    color: #d5d5d5;
}
td.check {
    color: #d5d5d5;
    width: 45pt;
}

td.title {
    font-size: 24pt;
    width: 411pt;
}

td.trash {
    color: #d5d5d5;    
    width: 24pt;
}
