{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Thank You For Using{% endblock %}</h1>
{% endblock %}

{% set items = [{'text': 'Login', 'func': 'login'}, {'text': 'Register', 'func': 'register'}] %}

{% block content %}
    <form action="/thank-you-for-using" method="POST">
        <label class="last-message" for="reason">
            Your account has successfully been deleted. <br>
            Thank you for using this application so far. <br>
            Let us know the reason you stopped using, please.
        </label>
        <textarea name="reason" id="reason"></textarea>
        <input class="submit" type="submit" value="Submit"> 
    </form>
{% endblock %}