{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Thank You For Using{% endblock %}</h1>
{% endblock %}

{% set items = [{'text': 'Login', 'func': 'login'}, {'text': 'Register', 'func': 'register'}] %}

{% block content %}
    <form action="/thank-you-for-using" method="POST">
        <label class="last-message" for="reason">Your account has successfully been deleted. Thank you for using this application so far. Finally, let us know the reason you stopped using this application, please.</label>
        <input type="textarea" name="reason" id="reason">
        <input class="submit" type="submit" value="Submit"> 
    </form>
{% endblock %}