{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Your Todos{% endblock %}</h1>
{% endblock %}

{% set items = [{'text': 'Logout', 'func': 'logout'}] %}

{% block content %}
    <table class="todos"> 
        {% for todo in todos %}
            <tr>
                <td class="check">
                    <a href="/complete/{{ todo[0] }}">
                        <i class="far fa-circle"></i>
                    </a>
                </td>
                <td class="title">{{ todo[1] }}</td>
                <td class="trash">
                    <a href="delete/{{ todo[0] }}" onclick="return confirm('You are deleting todo. Are you sure?')">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="redirect_button" href="/add">Add</a>
    <a class="redirect_button" href="/completed-todos">See What You Have Done</a>
    
{% endblock %}