{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Your Todos{% endblock %}</h1>
{% endblock %}

{% set items = [{'text': 'Logout', 'func': 'logout'}] %}

{% block content %}
    <table class="todos"> 
        {% for todo in todos %}
            <tr>
                <td class="check"><i class="far fa-circle"></i></td>
                <td class="title">{{ todo[1] }}</td>
                <td class="trash"><i class="fas fa-trash"></i></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}